@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(51.1% 0.262 276.966);
  --primary-hover: oklch(93% 0.034 272.788);
  --primary-border: oklch(37.2% 0.044 257.287);

  --secondary: oklch(87.2% 0.01 258.338);
  --secondary-foreground: oklch(21% 0.034 264.665);
  --tertiary-foreground: oklch(44.6% 0.03 256.802);
  --muted-foreground: oklch(55.1% 0.027 264.364);
  --card: #ffffff;
  --card-hover: oklch(96.7% 0.003 264.542);
  --border: oklch(87.2% 0.01 258.338);

  --gradient-start: oklch(51.1% 0.262 276.966);
  --gradient-end: oklch(70.4% 0.14 182.503);
  --gradient-start-hover: oklch(45.7% 0.24 277.023);
  --gradient-end-hover: oklch(59.6% 0.145 163.225);
  --gradient-start-bg: oklch(96.2% 0.018 272.314);
  --gradient-end-bg: oklch(97.9% 0.021 166.113);
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --primary: oklch(51.1% 0.262 276.966);

  --secondary: oklch(37.3% 0.034 259.733);
  --secondary-foreground: oklch(96.7% 0.003 264.542);
  --tertiary-foreground: oklch(87.2% 0.01 258.338);
  --muted-foreground: oklch(55.1% 0.027 264.364);
  --card: #18181B;
  --card-hover: oklch(21% 0.034 264.665);
  --border: oklch(37.3% 0.034 259.733);

  --gradient-start: oklch(51.1% 0.262 276.966);
  --gradient-end: oklch(70.4% 0.14 182.503);
  --gradient-start-hover: oklch(45.7% 0.24 277.023);
  --gradient-end-hover: oklch(59.6% 0.145 163.225);
  --gradient-start-bg: #111010;
  --gradient-end-bg: #111010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-border: var(--primary-border);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-border: var(--border);

  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);
  --color-gradient-start-hover: var(--gradient-start-hover);
  --color-gradient-end-hover: var(--gradient-end-hover);
  --color-gradient-start-bg: var(--gradient-start-bg);
  --color-gradient-end-bg: var(--gradient-end-bg);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
  /* width:5px; */
  /* height:5px; */
} 

::-webkit-scrollbar-track {
  background: var(--background-dark);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-card);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-light);
  border-radius: 5px;
}